{% extends "partials/base.html" %}


{% block conteudo %}

<div class="row">
    <div class="col-lg">

        <div class="container pedido-result">
            <div class="title-page">
                <h2>Rastreamento</h2>
            </div>
            <div class="infos">
                <label>Nome:
                    <h3>{{pedido.nome_cliente}}</h3>
                </label>
            </div>
            <div class="infos">
                <label for="">Origem
                    <h3>{{pedido.endereco_origem}}</h3>
                </label>
            </div>
            <div class="infos">
                <label for="">Destino 
                    <h3>{{endereco_destino}}</h3>
                </label>
            </div>
            <div class="infos">
                <label for="">Data da Postagem
                    <h3>{{pedido.data}}</h3>
                </label>
            </div>

            
            <div class="Status">
                <label for="">Status da Entrega
                    {%if pedido.status == 'Objeto Postado'%}
                        <div class="status">
                        <img src="{% static 'imgs/icon_2001.png' %}">
                            <div class="infos">
                                <label for="">Objeto Postado</label>
                            </div>
                        </div>
                    {%endif%}
                    {%if pedido.status == 'Em transferência'%}
                        <div class="status">
                        <img src="{% static 'imgs/icon_2002.png' %}">
                            <div class="infos">
                                <label for="">Em transferência</label>
                            </div>
                        </div>
                    {%endif%}
                    {%if pedido.status == 'Unidade de tratamento'%}
                        <div class="status">
                        <img src="{% static 'imgs/icon_2003.png' %}">
                            <div class="infos">
                                <label for="">Unidade de tratamento</label>
                            </div>
                        </div>
                    {%endif%}
                    {%if pedido.status == 'Em Rota de entrega'%}
                        <div class="status">
                        <img src="{% static 'imgs/icon_2004.png' %}">
                            <div class="infos">
                                <label for="">Em Rota de entrega</label>
                            </div>
                        </div>
                    {%endif%}
                    {%if pedido.status == 'Entregue'%}
                        <div class="status">
                        <img src="{% static 'imgs/icon_2005.png' %}">
                            <div class="infos">
                                <label for="">Entregue</label>
                            </div>
                        </div>
                    {%endif%}
                </label>
            </div>
            
            
            
            <!--
            <h2>Pedido#{{pedido.pk}}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col"> Cliente</th>
                        <th scope="col">Data</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Prazo</th>
                        <th scope="col">Status</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Endereco</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{pedido.pk}}</th>
                        <td>{{pedido.nome_cliente}}</td>
                        <td>{{pedido.data}}</td>
                        <td>{{pedido.hora}}</td>
                        <th scope="row">{{pedido.prazo}} Dias</th>
                        <td></td>
                        <td>{{pedido.estado}}</td>
                        <td>{{pedido.endereco_origem}}</td>
                        
                    </tr>-->
            
                    <!-- Adicione mais linhas conforme necessário -->
                </tbody>
            </table>
        </div>
    </div>


{% endblock conteudo %}



