{% extends "partials/base.html" %}


{% block conteudo %}

<div class="row">
    <div class="col-lg">

        <div class="container">
            <div class="title-page">
                <h2>Rastreamento</h2>
            </div>
            <div class="infos">
                <label>Nome:</label>
                <h3>{{pedido.nome_cliente}}</h3>  
            </div>
            <div class="infos">
                <label for="">Origem
                <h3>{{pedido.endereco_origem}}</h3>
            </div>
            <div class="infos">
                <label for="">Destino 
                <h3>{{endereco_destino}}</h3>
            </div>
            <div class="infos">
                <label for="">Data da Postagem
                <h3>{{pedido.data}}</h3>
            </div>
            <div class="infos">
                <label for="">Status da Entrega
                <h3>{{pedido.status}}</h3>
            </div>
            
            
            <!--
            <h2>Pedido#{{pedido.pk}}</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col"> Cliente</th>
                        <th scope="col">Data</th>
                        <th scope="col">Hora</th>
                        <th scope="col">Prazo</th>
                        <th scope="col">Status</th>
                        <th scope="col">Estado</th>
                        <th scope="col">Endereco</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">{{pedido.pk}}</th>
                        <td>{{pedido.nome_cliente}}</td>
                        <td>{{pedido.data}}</td>
                        <td>{{pedido.hora}}</td>
                        <th scope="row">{{pedido.prazo}} Dias</th>
                        <td></td>
                        <td>{{pedido.estado}}</td>
                        <td>{{pedido.endereco_origem}}</td>
                        
                    </tr>-->
            
                    <!-- Adicione mais linhas conforme necessário -->
                </tbody>
            </table>
        </div>
    </div>


{% endblock conteudo %}



