@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body{
    font-family: "Poppins", sans-serif; ;
}

.product-price-block {
    font-size: 1.5rem;
}

.product-price {
    font-size: 1.5rem;
}

.product-old-price {
    text-decoration: line-through;
    font-size: 1rem;
}

.border-top-light-custom{
    border-top: 1px solid rgba(0, 0, 0, 0.125);
}

@media (min-width: 34em) {
    .card-columns {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}

ul.errorlist  {
    list-style-type: none;
    margin: 5px 0;
    padding: 0;
    font-size: 13px;
    color: red;
    display: block;
}

ul.errorlist li {
    display: block;
    font-weight: bold;
}

/*
@media (min-width: 48em) {
    .card-columns {
        -webkit-column-count: 3;
        -moz-column-count: 3;
        column-count: 3;
    }
}


@media (min-width: 62em) {
    .card-columns {
        -webkit-column-count: 4;
        -moz-column-count: 4;
        column-count: 4;
    }
}

@media (min-width: 75em) {
    .card-columns {
        -webkit-column-count: 5;
        -moz-column-count: 5;
        column-count: 5;
    }
}
*/
.form-group textarea {
    width: 100%;
}
.nav-cart, .nav-cart a {
    color: #fff;
    text-decoration: none;
}
.cart-img {
    max-width: 150px;
}

.card-search-main {
    width: 376px;
    height: 230px;
    background-color: rgb(186, 30, 52);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 8px 1px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    padding: 50px;
}

@media screen and (max-width: 470px) {
    .card-search-main {
        height: 320px;
    }
}

@media screen and (max-width: 378px) {
    .card-search-main {
        width: 100%;
    }
}

.form-control input::placeholder {
    color: rgb(107, 107, 107) !important;
}

.card-search-main h3{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: rgb(255, 255, 255);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

.card-search-main label {
    color: rgb(255, 255, 255);
    font-weight: 400;
}

.content {
    display: flex;

    flex-direction: column;
    margin: 0 60px;
    justify-content: space-between;
    align-items: center;
}
html, body {
    height: 100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.form-group > input::placeholder {
        color: rgb(107, 107, 107) !important;
    }
.card-search-main form input{
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 17px;
    border-radius: 5px;
    border: 2px solid rgba(171, 171, 171, 0.41) !important;
    font-size: 17px;
    font-weight: 500;
    color: rgb(107, 107, 107) !important;
    text-align: center;
    outline: none;

}

.card-search-main form .btn{
    width: 100%;
    height: 35px;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 0px 8px 1px;
    background: none rgb(186, 30, 52);
    cursor: pointer;    
}