{% load static %}
<footer class="container-fluid ">
    <div class="container d-flex flex-column">
        
        <div class="p-1">
            <span class="align-middle p-1 text-center text-dark"><img src="{% static 'imgs/logo_footer1.jpg'%} " alt=""></span>
            <p class="text-center text-dark">2021 JadLog-Todos os direitos reservados</p>
        </div>

    </div>
</footer>

<script src="{%static 'assets/bootstrap/js/jquery-3.2.1.slim.min.js'%}"></script>
<script src="{%static 'assets/bootstrap/js/popper.min.js'%}"></script>
<script src="{%static 'assets/bootstrap/js/bootstrap.min.js'%}"></script>
<script defer src="{%static 'assets/font-awesome/js/all.js'%}"></script>
<script src="{%static 'assets/custom/js/scripts.js'%}"></script>