
<!doctype html>
<html lang="pt">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<head>
    
    {% include "partials/_head.html" %}
    <title>Rastreie seu Pedido! - JDLG</title>
</head>
<body>
    {% include "partials/_nav.html" %}
    {% include 'partials/_messages.html' %}
    <main class="container mt-4 mb-4">
        <div class="row">
            <div class="col-lg-12">
                


                   {% block conteudo %}
                   
                   
                   {% endblock conteudo %}



               
            </div>
        </div>
    </main>
{% include "partials/_footer.html" %}
</body>

</html>